@import "../../node_modules/bulma/css/bulma.css"; 
@import "font-awesome.css";

/* Make HTML height match screen height */
html,
body {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-flow: column;
  height: 100%;
}
